
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    margin-top: 2rem;
}
.main-content {
    flex: 1;
    display: flex;
    overflow: hidden;
}
.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    width: 25%;
    position: sticky;
    top: 0;
    height: 100vh; 
    overflow-y: auto;
    z-index: 1000;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    padding: 15px;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.sidebar ul li:hover {
    background-color: #dee2e6; 
}
.sidebar ul li a {
    color: #212529; 
    text-decoration: none; 
    font-weight: bold; 
    display: block;
}
.sidebar ul li.active {
    padding: 15px;
    background-color: #bcc5cd; 
    border: 1px solid #ced4da;
}
.sidebar ul li.active a {
    color: #212529;
    text-decoration: none; 
    font-weight: bold; 
    display: block; 
}
.content-area {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
.navigation-buttons {
    margin-top: 20px;
}
.mobile-nav .dropdown-menu {
    max-height: 80vh;
    overflow-y: auto;
    background-color: #f8f9fa; 
    border: 1px solid #ced4da;
}

.mobile-nav .dropdown-item {
    color: #212529; 
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.mobile-nav .dropdown-item:hover {
    background-color: #dee2e6; 
}
.mobile-nav .btn-secondary {
    background-color: #1985A1;
    border: none;
    width: calc(100% - 30px); 
    text-align: left;
    padding: 15px 25px;
    margin: 10px 15px;
}
.mobile-nav .btn-secondary:hover,
.mobile-nav .btn-secondary:focus {
    background-color: #116478;
}
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .main-content {
        flex-direction: column;
    }
    .content-area {
        width: 100%;
    }
    .mobile-nav {
        display: block !important;
    }
}